[submodule "NestJS-Kafka-Microservice-Producer"]
	path = NestJS-Kafka-Microservice-Producer
	url = git@github.com:lightofficialstudio/NestJS-Kafka-Microservice-Producer.git
	branch = development
[submodule "NestJS-Kafka-Microservice-Consumer"]
	path = NestJS-Kafka-Microservice-Consumer
	url = git@github.com:lightofficialstudio/NestJS-Kafka-Microservice-Consumer.git
	branch = development
